md-card#time-slider-legend {
  position: absolute;
  bottom: 10px;
  right: 0px;

  md-card-content {
    padding: 8px;

    .legend-content {
      #legend-label {
        margin: 0px;
      }
      md-divider {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .legend-item-content {
        .legend-item-label {
          margin-top: 0px;
          margin-bottom: 5px;
        }
        .legend-item-data-label {
          font-size: 12px;
          .legend-item-data-value {
            float:right;
          }
        }
      }
    }
  }
}